<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/create.css">
</head>
<body>
    <main>
        <div class="form-container">

            <form class="product-form" action="/create" method="post">

              <h2>Crear Producto</h2>

              <label for="nombreProducto">Nombre del Producto:</label>
              <input type="text" id="nombreProducto" name="nombreProducto" >

              <label for="precio">Precio: </label>
              <input type="text" name="precio" id="precio">

              <label for="imagen">Imagen:</label>
              <input type="file" id="imagen" name="imagen" >

              <button type="submit">Crear Producto</button>
            </form>
          </div>
          
    </main>
</body>
</html>