<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test CRUD </title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
        <div class="grid-container">
            <article class="card">
                <img src="/images/accesorio3.jpg" alt="Producto 1">
                <h2>Producto 1</h2>
                <p>Descripci贸n del producto 1.</p>
                <p class="price">$99.99</p>
            </article>
            <article class="card">
                <img src="/images/accesorio4.jpg" alt="Producto 2">
                <h2>Producto 2</h2>
                <p>Descripci贸n del producto 2.</p>
                <p class="price">$149.99</p>
            </article>
            <article class="card">
                <img src="/images/cate-mujer.jpg" alt="Producto 3">
                <h2>Producto 3</h2>
                <p>Descripci贸n del producto 3.</p>
                <p class="price">$199.99</p>
            </article>
            <article class="card">
                <img src="/images/escalando-2.jpeg" alt="Producto 4">
                <h2>Producto 4</h2>
                <p>Descripci贸n del producto 4.</p>
                <p class="price">$249.99</p>
            </article>
        </div>
    </main>
</body>
</html>